{{#each this}}

<div class="beer-container">
    <img class="beer-img" src={{this.image_url}}>
    <h1 class="beer-name">{{this.name}}</h1>
    <h2 class="tagline"> {{this.tagline}}</h2>
    <p class="description"> {{this.description}}</p>

</div>
{{/each}}