{{> beerPartials beers}}

{{!-- {{#each beers }}

<div class="beer-container">
    <img class="beer-img" src={{this.image_url}}>
    <h1 class="beer-name" {{this.name}}></h1>
    <h2 class="tagline" {{this.tagline}}></h2>
    <h3 class="description" {{this.description}}></h3>
</div>

{{/each}} --}}