<div class="index-container">
    <div class="img-container">
        <img id="beerimg" src="/images/beer.png" alt="beerimg">
        <a class="btn-beers" href="/beers">Check the Beers!</a>
        <a class="btn-random-beer" href="/randomBeers"> Check a Random Beer!</a>
    </div>

</div>